
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #4a9cf9;
  text-decoration: underline;
}
a:active {
  color: red;
}

html {
  overflow-y: auto;
  background: #fff;
}
html.dragging body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h4 {
  font-size: 16px;
  margin: 30px 0px 10px;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #6e6e6e;
  opacity: 20%;
  transition: 0.3s ease-in-out;
  z-index: 4;
  display: none;
}
.nav-bar {
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 0 25px;
}
.board-menu-button {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
.board-menu-button:hover {
  color: #4a9cf9;
}

.section-title {
  color: #2e64a1;
  font-size: 26px;
  font-weight: 700;
  margin: 40px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.section-title > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.section-title > span:after {
  content: "";
  background-color: #2e64a1;
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 2px;
}
.account-nav {
  position: absolute;
  right: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.account-nav li {
  margin: 7px;
}
.account-nav li span {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.account-nav li a {
  font-size: 14px;
  transition: 0.2s ease-in;
}
.account-nav li a:hover {
  color: red;
}
body {
  position: relative;
  font-family: 'BR Hendrix';
  font-size: 18px;
  line-height: 1.5;
  margin: 0 20px;
  color: #6e6e6e;
  height: 100vh;
}
.flash {
  color: red;
  font-size: 14px;
}
.board-menu {
  position: fixed;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 5;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  transition: 0.3s ease-in-out;
}
.board-menu .back {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
.board-menu .back:hover {
  color: #4a9cf9;
}
.board-menu .board-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  margin: 0px 10px;
  padding: 30px;
  transition: 0.2s ease-in-out;
  width: 100%;
  opacity: 0%;
}
.board-menu .board-list .board-list-title {
  margin: 30px 0px;
}
.board-menu .board-list form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
.board-menu .board-list form section {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 7px;
  width: 0%;
  transition: 0.2s ease-in-out;
}
.board-menu .board-list .add-board-form section input {
  outline: none;
  border: none;
  font-family: 'BR Hendrix';
  width: 100%;
}
.board-menu .board-list .add-board-form section .submit-button, .board-menu .board-list .add-board-form section .cancel {
  display: none;
  font-size: 12px;
  outline: none;
  border: none;
  background-color: transparent;
  margin: 3px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: #9e9e9e;
}
.board-menu .board-list .add-board-form section .submit-button:hover {
  color: rgb(0, 202, 0);
}
.board-menu .board-list .add-board-form section .cancel:hover {
  color: red;
}
.board-menu .board-list .add-board-form .add-board {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #9e9e9e;
  width: max-content;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.board-menu .board-list .add-board-form .add-board:hover {
  color: #4a9cf9;
}
.board-menu .board-list .board-list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  transition: 0.2s ease-in-out;
  font-size: 14px;
  margin: 3px;
}
.board-menu .board-list .board-list-item a {
  text-decoration: none;
}
.board-menu .board-list .board-list-item form {
  width: min-content;
  height: min-content;
}
.board-menu .board-list .board-list-item .leave-board button {
  background-color: transparent;
  color: #9e9e9e;
  --ggs: 0.8;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.board-menu .board-list .board-list-item .leave-board button:hover {
  color: red;
}

.new-task-container {
  /* position:!important;
  top: -1; */
  height: 100%;
}

#new-task {
  /* display: none; */
  cursor: default;
  height: 10%;
}
#new-task .board-item-edit .submit-button, #new-task .board-item-edit .delete {
    font-size: 12px;
    outline: none;
    border: none;
    background-color: transparent;
    margin: 3px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: #9e9e9e;
}
#new-task .submit-button:hover {
  color: rgb(0, 202, 0);
  background-color: transparent;
}
#new-task .board-item-edit {
  height: 100%;
}
#new-task .form-content {
  margin-right: 20%;
  height: 100%;
}

#new-task .form-content .task-input {
  border-bottom: solid #9e9e9e4e 1px;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

#new-task .form-content .task-input:focus-within {
  border-bottom: solid #4a9cf9 1px;
}
#new-task .form-content .assignees-input {
  border-bottom: solid #9e9e9e4e 1px;
  margin-top: 7px;
  height: 100%;
  font-size: 14px;
}
#new-task .form-content .assignees-input:focus-within {
  border-bottom: solid #4a9cf9 1px;
}
.board-item-edit {
  display: flex;
  flex-direction: row;
}
.board-item-edit button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  margin: 3px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.15s ease-in;
}
.board-item-edit .delete {
  font-size: 12px;
}
.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.form-input input {
  padding: 10px;
  width: 400px;
  border-radius: 4px;
  font-family: 'BR Hendrix';
  cursor: text;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  border: none;
  outline: transparent;
  margin-bottom: 3px;
  transition: 0.2s ease-in;
}
.form-input input:focus {
  outline: solid #4a9cf9 1px;
  box-shadow: 0px 1px 3px 0 rgba(74, 156, 249, 0.2);
}
.form-input label {
  font-size: 14px;
  font-weight: 500;
}
.form-submit {
  margin: 10px;
}
.form-submit .submit-button {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  align-self: flex-start;
  cursor: pointer;
  transition: 0.15s ease-in;
}
.form-submit .submit-button:hover {
  background-color: #4a9cf9;
  color: white;
}
.form-submit .submit-button:active {
  background-color: #2e64a1;
}
.board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.board-column {
  width: 30%;
  margin: 0 1.5%;
  background: #f0f0f0;
  border-radius: 3px;
  position: relative;
  /* z-index: 1; */
}
.board-column .container {
  position: absolute;
  top: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.board-column-header {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.board-column.todo .board-column-header {
  background: #f9b94a;
}
.board-column.doing .board-column-header {
  background: #4a9cf9;
}
.board-column.done .board-column-header {
  background: #2ac06d;
}
.board-column-header .add-task {
  position: absolute;
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  align-items: center;
  width: 100%;
  height: 100%;
}
.board-column-header .add-task i {
  cursor: pointer;
  z-index: 1;
  opacity: 60%;
  transition: 0.2s ease-in-out;
}
.board-column-header .add-task i:hover {
  opacity: 100%;
}
.board-column-header .add-task i:active {
  opacity: 70%;
}
.board-column-content {
  position: relative;
  margin: 10px;
  min-height: 100px;
  display: flex;
  flex-direction:  column;
}
.board-item-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: inherit;
}
.board-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  width: 100%;
  margin: 5px 5px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.static {
  position: absolute;
  height: 100%;
  background-color: transparent;
  box-shadow: none;  
  border: none;
  transition: box-shadow 0.2s ease-in-out;
  z-index: 0;
}
.board-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 20px;
  width: 100%;
}
.board-item-content .task {
  overflow: hidden;
  font-weight: 500;
  outline: none;
  font-family: 'BR Hendrix';
  font-size: 17px;
  border: transparent;
  transition: 0.2s ease-in-out;
  width: 100%;
}

.board-item-content .assignees {
  font-size: 12px;
  font-weight: 400;
  outline: none;
  font-family: 'BR Hendrix';
  border: none;
  width: 100%;
}
.board-item-edit {
  display: flex;
  flex-direction: row;
}
.board-item-edit button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  margin: 3px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.15s ease-in;
}
.board-item-edit button:hover {
  background-color: #F0F0F0;
}
.auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.auth .auth-info {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 1.5px 30px 0px;
}
.auth-form .form-input {
  align-items: flex-start;
}
.auth-form .form-input input {
  font-size: 16px;
}
.auth-form .form-input label {
  font-size: 18px;
}
.auth-submit .submit-button {
  border: none;
  text-align: center;
  align-self: flex-start;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.auth-submit .submit-button:hover {
  background-color: #4a9cf9;
  color: white;
}
.auth-submit .submit-button:active {
  background-color: #2e64a1;
}
.auth-form .switch-request {
  margin: 20px 10px;
  font-size: 14px;
}
.auth-form .switch-request a {
  margin: 5px;
}