{% extends 'base.html' %}

{% block header %}
  <h2 class="section-title"><span>Kanban Board</span></h2>
  <!-- <h1>{% block title %}Register{% endblock %}</h1> -->
  {% endblock %}
  
  {% block content %}
  <section class="auth">
    <h3 class="auth-info">Create your Kanban board!</h3>
    <form class="auth-form" method="post">
      {% for message in get_flashed_messages() %}
        {% if message.startswith("Error:") %}
          <div class="flash error">{{ message }}</div>
        {% else %}
          <div class="flash success">{{ message }}</div>
        {% endif %}
      {% endfor %}
      <section class="form-input">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
      </section>
      <section class="form-input">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </section>
      <section class="form-input auth-submit">
        <input class="submit-button" type="submit" value="Register">
      </section>
      <span class="switch-request">Already have one? <a href="{{ url_for('auth.login') }}">Log in</a></span>
    </form>
  </section>
  {% endblock %}