<!doctype html>
<head>
  <title>Kanban Board</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='font/stylesheet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='https://css.gg/close.css' rel='stylesheet'>
  <link href='https://css.gg/add.css' rel='stylesheet'>
  <link href='https://css.gg/add-r.css' rel='stylesheet'>
  <link href='https://css.gg/check.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/70234d1421.js"></script>
  <script src="{{ url_for('kanban.script_js') }}"></script>
</head>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>