<!doctype html>
<head>
  <title>Kanban Board</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='font/stylesheet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('kanban.script_js') }}"></script>
</head>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>