{% extends 'base.html' %}

{% block header %}
<nav class="nav-bar">
  <i class="fa fa-bars board-menu-button" onclick="open_menu()"></i>
  <h2 class="section-title"><span>Kanban Board</span></h2>
  <ul class="account-nav">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
{% endblock %}


{% block content %}
<section class="overlay" id="overlay" onclick="close_menu()"></section>
<section class="board-menu" id="board-menu">
  <ul class="board-list">
    <h3 class="board-list-title">Your Boards:</h3>
    <h4>Personal Board</h4>
    {% for i in range(boards|length-1, -1, -1) %}
      {% set board = boards[i] %}
      {% if g.user['personal_board'] == board['id'] %}
        <li class="board-list-item">
          <a href="{{ url_for('kanban.index', board_id=board['id']) }}">
            {{ board["name"] }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    <h4>Other Boards</h4>
    <form method="post" action="{{ url_for('kanban.create_board') }}" style="display: inline" class="add-board-form">
      <section>
        <input type="text" id="name" name="name" placeholder="Board Name..." required />
        <button class="fa fa-check check submit-button"></button>
        <i class="fa fa-ban cancel" onclick="cancel_board(this)"></i>
      </section>
      <i class="fa fa-plus add-board" onclick="add_board(this)"></i>
    </form>
    {% for i in range(boards|length-1, -1, -1) %}
      {% set board = boards[i] %}
      {% if g.user['personal_board'] != board['id'] %}
        <li class="board-list-item">
          <a href="{{ url_for('kanban.index', board_id=board['id']) }}">
            {{ board["name"] }}
          </a>
          <form method="post" action="{{ url_for('kanban.leave_board', board_id=board['id']) }}" class="leave-board"><button type="submit" class="gg-close"></button></form>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <i class="fa fa-arrow-left back" onclick="close_menu()"></i>
</section>
<section class="kanban-board">
    <h2>{{ board_name }}</h2>
    <i class="fa fa-user-plus add-user"></i>
    <i class="fa fa-right-from-bracket"></i>
    <i class="fa fa-arrow-right-from-bracket"></i>
    <i class="fa-solid fa-person-walking-arrow-right"></i>
    <i class="fa-regular fa-arrow-right-from-arc"></i>
    <i class="fa fa-door-open"></i>
    <form class="new-user" action="{{ url_for('kanban.add_user', board_id=board_id) }}" method="post">
      <section class="form-input">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        <input type="text" id="username" name="username" required />                                
        <label for="username">Username:</label>
      </section>
    <section class="form-submit">
        <button type="submit" class="submit-button">+</button>
    </section>
    </form>
    <div class="board">
      {% set groups = ["to do", "doing", "done"] %}
      {% for group in groups %}
        <div class="board-column {{ group.replace(' ', '') }}">
          <div class="board-column-header">
            <span class="title">{{ group }}</span>
            <span class="add-task"><i class="fa fa-plus-circle"></i></span>
          </div>
          <div class="board-column-content" style="--length: {{tasks|length}}">
            <div class="board-item-container new-task-container">
              <form id="new-task" class="board-item" action="{{ url_for('kanban.create_task', board_id=board_id) }}" method="post">
                <section class="board-item-content form-content">
                  <input type="text" class="task task-input" name="task" placeholder="Task" required />
                  <input type="text" class="assignees assignees-input" name="assignees" placeholder="Assignees"/>
                </section>
                <section class="board-item-edit">
                  <button type="submit" class="fa fa-check check submit-button"></button>
                  <button class="delete cancel-task">❌</button>
                </section>
              </form>
            </div>
            {% for i in range(tasks|length-1, -1, -1) %}
              {% set task = tasks[i] %}
              {% if task['priority_group'] == group.upper() %}
                <div class="board-item-container">
                  <div class="board-item draggable" 
                  style="--position: {{i}}" 
                  task_id="{{ task['id'] }}" 
                  board_id="{{ board_id }}" 
                  group="{{ group }}">
                    <section class="board-item-content">
                      <span class="task">{{task.task}}</span>
                      {% if task['assignees'] != "" %}
                        <span class="assignees">{{task['assignees']}}</span>
                      {% endif %}
                    </section>
                    <section class="board-item-edit">
                      {% if group == "to do" %}
                        <form method="post" action="{{ url_for('kanban.update_task', id=task['id'], board_id=board_id) }}" style="display: inline">
                          <button type="submit" name="group" value="DOING">🠖</button>
                        </form>
                        <form method="post" action="{{ url_for('kanban.delete_task', id=task['id'], board_id=board_id) }}" style="display: inline">
                          <button class = "delete" type="submit" name="id" value="{{ task['id'] }}">❌</button>
                        </form>
                      {% elif group == "doing" %}
                        <form method="post" action="{{ url_for('kanban.update_task', id=task['id'], board_id=board_id) }}" style="display: inline">
                          <button type="submit" name="group" value="TO DO">🠔</button>
                        </form>
                        <form method="post" action="{{ url_for('kanban.update_task', id=task['id'], board_id=board_id) }}" style="display: inline">
                          <button type="submit" name="group" value="DONE">🠖</button>
                        </form>
                        <form method="post" action="{{ url_for('kanban.delete_task', id=task['id'], board_id=board_id) }}" style="display: inline">
                          <button class = "delete" type="submit" name="id" value="{{ task['id'] }}">❌</button>
                        </form>
                      {% else %}
                        <form method="post" action="{{ url_for('kanban.update_task', id=task['id'], board_id=board_id) }}" style="display: inline">
                          <button type="submit" name="group" value="DOING">🠔</button>
                        </form>
                        <form method="post" action="{{ url_for('kanban.delete_task', id=task['id'], board_id=board_id) }}" style="display: inline">
                          <button class = "delete" type="submit" name="id" value="{{ task['id'] }}">❌</button>
                        </form>
                      {% endif %}
                    </section>
                  </div>
                  <div class="board-item static" style="--position: {{i}}"></div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="container" group = "{{ group }}"></div>  
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}